body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.header {
    font-weight: 700;
    font-size: 30px;
    color: #283131;
    margin-bottom: 8px;
}

.container {
    display: flex;  
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    gap: 1px;
    border: 1px solid lightgray;
    justify-content: center;
    align-items: center;
    /* background-color: #f3f3f3; */
}

.input{
    margin-top: 10px;
    padding: 8px ;
    display:flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    width: 400px;
}

button {
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 60px;
}

button.reset {
    background-color: #c32727e1;
}

button.resize {
    background-color: #2e8a56;
}

button.mode {
    background-color: gray;
}

button:hover {
    opacity: 0.9;
}